<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contactez-nous</h2>
    
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Vous avez une question ? N'hésitez pas à nous contacter directement. Notre équipe vous répondra dans quelques heures pour vous aider.</p>

    <div class="row">

        <!--Grid column for form-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row for Name and Email-->
                <div class="row">
                    <!--Name Field-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="name" class="">Nom et Prénom</label>
                            <input type="text" id="name" name="name" class="form-control" required>
                        </div>
                    </div>

                    <!--Email Field-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="email" class="">E-mail</label>
                            <input type="email" id="email" name="email" class="form-control" required>
                        </div>
                    </div>
                </div>

                <!--Grid row for Subject-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="subject" class="">Sujet</label>
                            <input type="text" id="subject" name="subject" class="form-control" required>
                        </div>
                    </div>
                </div>

                <!--Grid row for Message-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <label for="message">Votre message</label>
                            <textarea id="message" name="message" rows="2" class="form-control md-textarea" required></textarea>
                        </div>
                    </div>
                </div>

            </form>

            <div class="text-center text-md-left mt-4">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Envoyer</a>
            </div>
            <div class="status"></div>
        </div>

        <!--Grid column for contact info-->
       

    </div>


</section>
<!--Section: Contact v.2-->
